@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --border: 0 0% 15%;
    --font-inter: "Inter", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-inter);
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2 {
    font-family: var(--font-jetbrains);
  }

  * {
    border-color: hsl(var(--border));
  }
}
